<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<body>

<div layout:fragment="content">

    <div class="cadastro">

        <div class="second-half">
            <h2 style="font-family: 'Courgette', sans-serif; text-align: center;">Criando vagas!</h2>

            <form th:action="@{/mod/habilidades/save}" th:object="${vaga}"  method="POST" class="form-login">
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" required>

                <label for="link">Coloque aqui o link da sua vaga:</label>
                <input type="text" id="link" name="link" required>

                <label for="descricao">Descreva sua vaga:</label>
                <input type="text" id="descricao" name="descricao" required>

                <label for="tipo">Escola o tipo de vaga:</label>
                <select id="tipo" name="tipo">
                    <option value="ESTAGIO">Estágio</option>
                    <option value="JUNIOR">Júnior</option>
                    <option value="PLENO">Pleno</option>
                    <option value="SENIOR">Sênior</option>
                </select>


                <label for="habilidades">Escolha as habilidades necessárias:</label>
                <div id="checkboxHabilidades"></div>



                <button type="submit">Criar!</button>

            </form>    </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">


  function obterHabilidades() {
    var url = "/api/habilidades/criaVaga"; // Caminho para o endpoint que retorna as habilidades
    var checkboxHabilidades = document.getElementById("checkboxHabilidades");


    var xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        var habilidades = JSON.parse(xhr.responseText);


        for (var i = 0; i < habilidades.length; i++) {
          var habilidade = habilidades[i];
          var checkbox = document.createElement("input");
          checkbox.type = "checkbox";
          checkbox.name = "habilidades";
          checkbox.value = habilidade;
          checkboxHabilidades.appendChild(checkbox);

          var label = document.createElement("label");
          label.appendChild(document.createTextNode(habilidade));
          checkboxHabilidades.appendChild(label);

          checkboxHabilidades.appendChild(document.createElement("br"));
        }
      }
    };
    xhr.send();
  }
  obterHabilidades();



</script>


</body>
</html>