<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<body>

<div layout:fragment="content">

    <div class="cadastro">

        <div class="second-half">
            <h2 style="font-family: 'Courgette', sans-serif; text-align: center;">Adicionar</h2>
            <form th:action="@{/mod/habilidades/save}" method="POST" th:object="${habilida}" class="form-login">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" th:field="*{nome}" placeholder="Insira aqui"  required>
                    <button type="submit">Adicionar</button>
            </form>
        </div>
        <div class="second-half">
            <h2 style="font-family: 'Courgette', sans-serif; text-align: center;"> Habilidades Criadas</h2>
            <div class="habs"  th:each="habilidade : ${habilidades}"   style="display:flex; ">
                <div class="req" style="display:flex; ">
                    <div  th:text="${habilidade.nome}" style="margin-right:10px;" ></div>
                    <a th:action="@{/mod/habilidades/deletar/{id}(id=${habilidade.id})}"><i class="fa-solid fa-x deletar"></i></a>
                </div>
            </div>
        </div>



    </div>

</div>

</body>
</html>