<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<body>

<div layout:fragment="content">

  <div class="main-content2">
    <div class="first-half">
      <img class="image" src="img/undraw_interview_re_e5jn.svg" alt="Imagem">
    </div>
    <div class="second-half">
      <h2 style="font-family: 'Courgette', sans-serif; text-align: center;">Bem-vinde ao Transcender!</h2>
      <p> Somos uma plataforma dedicada a promover a inclusão e a igualdade de oportunidades para pessoas trans. Acreditamos que todos têm o direito de desenvolver seu potencial e alcançar seus sonhos profissionais, independentemente de sua identidade de gênero.</p>
      <p> No Transcender, estamos comprometidos em conectar pessoas trans talentosas e empregadores progressistas em um espaço seguro e acolhedor. Reconhecemos as barreiras enfrentadas por nossa comunidade ao procurar emprego e estamos aqui para mudar essa realidade.</p>
      <p> Junte-se a nós no Transcender e comece a sua jornada rumo a uma carreira de sucesso, onde você será valorizado(a) pelo seu talento, habilidades e autenticidade. Vamos transcender juntos!</p>
      <br>
      <p> Att. Equipe Transcender</p>
    </div>
  </div>

</div>

</body>
</html>