<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<body>

<div layout:fragment="content">

  <div class="profile">

    <div class="profile-content">
      <div class="profile-image " ></div>
      <div class="profile-cover"></div>
    </div>
    <div class="profile-info">
      <label>Nome:</label>
      <p>Zeri Bolos</p>
    </div>
    <div class="profile-info">
      <label>Email:</label>
      <p>zericakes@gmail.com</p>
    </div>
    <div class="profile-info">
      <label>Endereço:</label>
      <p>Rua Sumoners Rift, Botlane 4</p>
    </div>
    <div class="profile-info">
      <label>Telefone:</label>
      <p>(123) 456-7890</p>
    </div>
    <div class="profile-info">
      <label>Descrição:</label>
      <p>Zeri. bolos. naked. cakes. os. melhores. bolos. do. mundo.</p>
    </div>
  </div>

  </div>

</div>

</body>
</html>