<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<body>

<div layout:fragment="content">

  <div class="profile">

    <div class="profile-content">
      <div class="profile-image"> </div>
      <div class="profile-cover"></div>
    </div>
    <div class="profile-info">
      <label>Nome:</label>
      <p>Zézinho</p>
    </div>
    <div class="profile-info">
      <label>Email:</label>
      <p>little.ze@gmail.com</p>
    </div>
    <div class="profile-info">
      <label>Telefone:</label>
      <p>(123) 456-6666</p>
    </div>
    <div class="profile-info">
      <label>Descrição:</label>
      <p>Zezinho que faz programação e precisa achar estágio pobre zezinho .</p>
    </div>
  </div>

  </div>

</div>

</body>
</html>