<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<body>

<div layout:fragment="content">

    <div class="procura">
        <div class="menu-lateral">
            <h1 style="font-family: 'Courgette', sans-serif; text-align: center;">Procurar Vagas</h1>

            <form action="" method="POST" class="form-login">


                <label for="empresa">Informe a empresa</label>
                <input type="text" id="empresa" name="empresa" class="form-field" >

                <label for="descricao">Descreva sua vaga:</label>
                <input type="text" id="descricao" name="descricao" class="form-field" >

                <label for="tipo">Escola o tipo de vaga:</label>
                <select id="tipo" name="tipo" class="form-field">
                    <option value="ESTAGIO">Estágio</option>
                    <option value="JUNIOR">Júnior</option>
                    <option value="PLENO">Pleno</option>
                    <option value="SENIOR">Sênior</option>
                </select>







                <button type="submit" class="">Procurar</button>

            </form>
        </div>
        <div class="lista-divs-coloridas">
            <div class="div-colorida "></div>
            <div class="div-colorida "></div>
            <div class="div-colorida "></div>
            <div class="div-colorida "></div>


        </div>

    </div>

</div>

</body>
</html>