<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<body>

<div layout:fragment="content">

  <div class="profile" th:each="vaga : ${vagas}" style="display:flex; flex-direction:column;" >
    <h2 style="color:#42A5F5;font-family: 'Courgette', sans-serif; text-align: left; margin-left: 12px;
      border-radius: 30px; font-size: 30px;"   th:text="${vaga.titulo}"></h2>

    <div class="profile-info" >
      <label>Descrição:</label>
      <p th:text="${vaga.descricao}"></p>
    </div>

    <div class="profile-info">
      <label>Empresa:</label>
      <p  th:text="${vaga.empresa.nome}"></p>
    </div>

    <div class="profile-info">
      <label>Tipo:</label>
      <p th:text="${vaga.tipo}"></p>
    </div>

    <div class="botoes" sec:authorize="hasRole('EMPRESA')">
      <a  th:href="${vaga.linkVaga}"><button class="inscrever" >Inspecionar</button></a>
      <a  th:href="@{/company/minhasvagas/deletar/{id}(id=${vaga.id})}"><button class="inscrever" >Excluir</button></a>
<!--      <a th:href="@{/mod/habilidades/deletar/{id}(id=${habilidade.id})}"><i class="fa-solid fa-x deletar"></i></a>-->
<!--      <a th:href="@{/mod/habilidades/deletar/{id}(id=${habilidade.id})}"><i class="fa-solid fa-x deletar"></i></a>-->
    </div>
    <div class="botoes" sec:authorize="hasRole('PESSOA')">
      <a  th:href="${vaga.linkVaga}"       ><button class="inscrever" >Verificar</button></a>
      <a  th:href="@{/company/minhasvagas/deletar/{id}(id=${vaga.id})}"><button class="inscrever" >Descartar</button></a>
    </div>

  </div>



</div>

</body>
</html>